<!DOCTYPE html>
<html>
<head>
<title>AMS 大乐透</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/js/vue.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script src="/js/component/elementUI/index.js"></script>
<link rel="stylesheet" type="text/css"  href="/js/component/elementUI/theme-chalk/index.css" />
<link rel="icon" href='/images/icon1.png' />
<!-- 系统CSS或JS -->
<link rel="stylesheet" href="/css/systab.css">

<style>
</style>
<body>
	<div id="app">

		<el-row> 
			<el-col :span="24">
				<h2>AMS 大乐透</h2>
			</el-col> 
		</el-row>

		<div class='bh2'></div>
		<div class='bg-content'>
					<el-row class="myfont"  type="flex" class="row-bg"   >
							<el-col :span="10">							
												当前期开奖结果：
												<span class="redball" v-cloak >{{currentObj.fval1}}</span>
												<span class="redball" v-cloak>{{currentObj.fval2}}</span> 
												<span class="redball" v-cloak>{{currentObj.fval3}}</span> 
												<span class="redball" v-cloak>{{currentObj.fval4}}</span>
												<span class="redball" v-cloak>{{currentObj.fval5}}</span> 
												<span class="blueball w2" v-cloak>{{currentObj.fval6}}</span>
												<span class="blueball" v-cloak>{{currentObj.fval7}}</span> 
							</el-col>
							<el-col :span="10"   >																		
												 <el-form :inline="true"  :model="formInline"  class="demo-form-inline"   size="mini"> 
														<el-form-item  label="往期查询："  style="right:0">
												 			<el-select v-model="formInline.fkey"  placeholder="往期查询">
														  			<el-option :label="item"  :value="item" v-for="(item,index) in selectResults"></el-option>  
														  	</el-select> 
										 				</el-form-item> 
												 </el-form> 
							</el-col>
							<el-col :span="4">							
												我的积分：
												<span  v-cloak > {{jifen}}</span>
												 
							</el-col>
					</el-row> 
					<div class='bh3'></div>
					<el-row class="myfont"> 
						<el-col :span="20"> 
                               <el-form :inline="true"  :model="formInline"  class="demo-form-inline"   size="mini"> 
										 <el-form-item size="medium"> 
										 		<el-button type="primary"@click="query">查一下</el-button> 
										 </el-form-item> 
										 
										  <el-form-item size="medium"> 
										 		<el-button type="success"@click="buy()">投一个</el-button> 
										 </el-form-item> 
										 
										 <el-form-item size="medium"> 
										 		<el-button type="danger"   @click="dialogTableVisible = true "  >我的生涯</el-button> 
										 </el-form-item> 
							</el-form> 
							</el-col>
							<el-col :span="4">							
												下期开奖时间：
												<span  v-cloak > {{time}}</span>
							</el-col>
				</el-row>
		</div>
		
		<div class='bh5'></div>

		<div class='bg-content'  v-if="showResult">
			<div>往期开奖结果：</div>
			<div class='bh2'></div>
			<div>
			<template>
				  <el-table :data="tableData"  stripe  style="width: 100%" :default-sort = "{prop: 'account', order: 'descending'}" border size="mini"  highlight-current-row  :header-cell-style="{fontSize:'14px',color:'black'}">
				      <el-table-column type="selection" width="55"></el-table-column>
				    	 <el-table-column sortable prop="fkey"  label="历史期号"></el-table-column> 
				    	<el-table-column   sortable prop="fval1" label="开奖结果"  min-width="350px">
                				<template scope="scope" >
                    						  <span v-if="scope.row.fval1!=''">
                    						  <span class="redball">{{scope.row.fval1}}</span> <span
												class="redball">{{scope.row.fval2}}</span> <span class="redball">{{scope.row.fval3}}</span>
												<span class="redball">{{scope.row.fval4}}</span> <span
												class="redball">{{scope.row.fval5}}</span> <span class="blueball w2">{{scope.row.fval6}}</span>
												<span class="blueball">{{scope.row.fval7}}</span></span>
                				</template>
           				 </el-table-column>
           				 
           				 
				    	<el-table-column sortable  min-width="150px;" prop="createTime"  label="创建时间"></el-table-column>
				    	
				    
    					
  				 </el-table>
			</template>
  
	  
			  <div class="page">
					<el-pagination  @size-change="handleSizeChange"  @current-change="handleCurrentChange"
					 		  :current-page="paginations.page_index"
							  :page-sizes="paginations.page_sizes"
							  :page-size="paginations.page_size"
							  :layout="paginations.layout"
							  :total="paginations.total">
					</el-pagination>
			</div>
		</div>

	</div>
	
	<div class="bg-content" v-else="showResult">
			<div>
				欢迎投注：
			</div>
			<div class="bh2"></div>
			<el-row class="touzhu myfont" >
				<el-col    :span="12"    >
					<el-row   >
						<el-col :span="24">
							<span>当前注：</span> 
							<span :class="['redball' ,'myleft',index==0 ? 'w3' : '']" v-for ='(item,index) in pre'  @click="dec5(index,item)">{{item}}</span>
							 <span :class="['blueball' ,'myleft',index==0 ? 'w2' : '']" v-for ='(item,index) in post'  @click="dec2(index,item)">{{item}}</span>
							 <el-button type="success"  size="mini"style="position: relative; left: 50px" v-show="flag" @click="addAll()">我看着挺像</el-button>
						</el-col>
					</el-row>
					
					<div class="bh5"></div>
					<div class="overline"></div>
					
					<el-row v-for ='(item,index) in hasAll'   >
						<el-col :span="18">
							<span>已投注{{index+1}}：</span> 
							<span  :class="[index1<5 ? 'redball' : 'blueball' ,'myleft',index1==0 | index1==5 ? 'w2' : '']"   v-for ='(item1,index1) in item' >{{item1}}</span>
						</el-col>
						<el-col  :span="6">
							<el-button  type="warning "   @click="del(item)"  size="mini" >删除</el-button> 
						</el-col>
					</el-row>
					<div class="bh3" ></div>
					<el-row >
						<el-col :span="14"></el-col>
						<el-col v-show="hasAll.length>0? true : false"  :span="10">
							<el-button v-show="hasAll.length>1? true : false" type="danger "  size="mini"  @click="clean()">都不咋滴</el-button>
						 	<el-button    @click="ok()"  type="success "  size="mini"  >就这样了</el-button>
						</el-col>
						</el-row>
				</el-col>
				<el-col   :span="12"  style="border-left:2px solid rgb(222,226,230); padding:10px;height:100%  "  >
					<el-row style="margin-top:20px;">
						<el-col :span="12">
							<span>选号范围：</span>
						</el-col>
					</el-row>
					<div class="bh2"></div>
					<el-row>
						<el-col :span="4" >
							<span style="margin-left:10xp;">前区号：</span>
						</el-col>
						<el-col :span="20" >
							<span :class="['myleft',  pre.indexOf(index+1)!=-1 ? 'disa' : 'redball' ]"  v-for="(n,index) in 35"  @click="aaa(n,index)" > {{n}} </span>
						</el-col>
					</el-row>
					<div class="bh1"></div>
						<el-row>
						<el-col :span="4" >
							<span  >后区号：</span>
						</el-col>
						<el-col :span="20" >
							<span :class="['myleft',  post.indexOf(index+1)!=-1 ? 'disa' : 'blueball' ]"  v-for="(n,index) in 12"  @click="bbb(n,index)" > {{n}} </span>
						</el-col>
					</el-row>
					<div class="bh5"></div>
					<el-row >
						<el-col :span="12" >
						</el-col>
						<el-col :span="12" >
							   <el-button type="primary"  size="mini"   style="position: relative; left: 30px" @click="ranone()">机选一注</el-button>
							   <el-button type="primary"  size="mini"   style="position: relative; left: 60px" @click="ranfive()">机选五注</el-button>
						</el-col>
					</el-row>
					<div class="bh1"> </div>
				</el-col>
			</el-row>
			<div class="bh4"> </div>
		</div>
<el-dialog title="我的生涯" :visible.sync="dialogTableVisible"  width="50%"     top="10vh" :before-close="handleClose">
    <el-table :data="shengyaTosys"  stripe border  height="500px" highlight-current-row  :header-cell-style="{fontSize:'14px',color:'black'}">>
	      <el-table-column property="fkey" label="历史期号" width="90"></el-table-column>
	      <el-table-column property="fval1" label="开奖结果" width="280">
	     			 <template scope="scope" >
	      			<span v-if="scope.row.fval1!=''"><span class="redball">{{scope.row.fval1}}</span> <span
							class="redball">{{scope.row.fval2}}</span> <span class="redball">{{scope.row.fval3}}</span>
							<span class="redball">{{scope.row.fval4}}</span> <span
							class="redball">{{scope.row.fval5}}</span> <span class="blueball w2">{{scope.row.fval6}}</span>
							        <span class="blueball">{{scope.row.fval7}}</span>
						</template>								
	      </el-table-column>
	      <el-table-column property="fval1" label="我的当期">
	      			<template scope="scope" >
	      			  <p  v-for="item1 in shengyaval"  v-if="item1.fkey==scope.row.fkey">
    						<span class="redball" v-cloak>{{item1.fval1}}</span> 
    						<span class="redball" v-cloak>{{item1.fval2}}</span> 
    						<span class="redball" v-cloak>{{item1.fval3}}</span>
							<span class="redball" v-cloak>{{item1.fval4}}</span> 
							<span class="redball" v-cloak>{{item1.fval5}}</span> 
							<span class="blueball w2" v-cloak>{{item1.fval6}}</span>
							<span class="blueball" v-cloak>{{item1.fval7}}</span>
							<span class="w2" v-cloak>{{item1.fval10}}</span> 
						</p>
					 </template>							    
	      </el-table-column>
    </el-table>
    <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="dialogTableVisible= false">确 定</el-button>
  </span>
</el-dialog>
		 
 </div>
</body>
<script>
var vm=new Vue({
  el: '#app',
  data : {
	  dialogTableVisible: false,
      dialogFormVisible: false,
	  table: false,  
		flag: false,
		activeClass:-1,
		activeClass1:-1,
		hasAll:[],
		pre:[],
	    post:[],
	  time:'',
	  jifen:0,
	  selectResults:[],
	  showResult: true,
	  currentObj:'',
	  currentPeriod:0,
	  shengyaval:[],
	  shengyaTosys:[],
	  formInline: { id: null, fkey: '',fval1:'',fval2:'',fval3:'',fval4:'',fval5:'',fval6:'',fval7:'',chk:''},
      info: [],
      role:[],
      orgname:null,
      tableData:[], //数据
	  paginations:{
			page_index:1, //当前页
			total:0, //总数
			page_size:5, //一页显示多少
			page_sizes:[5,10,15,20], //每页显示多少条
			layout:'prev, pager, next, jumper, sizes,total '
		},
      allTableData:[],
      currentPage:1
  },
  created(){
		this.nextTime();
		this.query();
		this.queryJF();
		this.shengya();
		this.shengyaTosys1();
	},
   mounted () {
	    axios.get('/user.html').then(res1 =>{   //分公司列表初始化
	    	this.info=res1.data
	    	})
	      .catch(function (error) { // 请求失败处理
	        console.log(error);
	      });
    
	   	 axios.get('/user_role.html').then(res1 =>{  //系统角色初始化
	    	this.role=res1.data
	    	})
	      .catch(function (error) { // 请求失败处理
	        console.log(error);
	      });
    
		  axios({
			  method: 'post',           
			  url: '/getPrePeriod',  								//全量查询表格显示数据[后台有限制]
			  data: {		
						msg:this.formInline
			  },
			}).then(res=>{ 
				this.allTableData = res.data.list	;
				console.log(this.allTableData)
				this.setPaginations();
			} ,error=>{				
			}); 
    
  }, 

  methods:{
	  setPaginations(){
				this.paginations.total = this.allTableData.length; //数据的数量
				this.paginations.page_index = 1; //默认显示第一页
				this.paginations.page_size = 5; //每页显示多少数据
				//显示数据
				this.tableData = this.allTableData.filter((item,index) => {
				return index < this.paginations.page_size;
			})
		},
		handleSizeChange(page_size) {
				this.paginations.page_index = 1; //第一页
				this.paginations.page_size = page_size; //每页先显示多少数据
				this.tableData = this.allTableData.filter((item,index) => {
				return index < page_size
			})
		},
		handleCurrentChange(page){
			// 跳转页数
			//获取当前页
			this.currentPage=page;
			let index = this.paginations.page_size * (page -1);
			//获取总数
			let allData = this.paginations.page_size * page;
			let tablist=[];
			for(let i = index;i<allData;i++) {
				if (this.allTableData[i]) {
					tablist.push(this.allTableData[i])
				}
				this.tableData = tablist
			}
		},
	  	  handleEdit(index, row,type) {
			var temp=row.flag;
			if(row.flag){
				//说明当前是激活状态，用户可编辑中,此时做保存或取消操作。
				if(type=='op'){  //保存操作
					 axios({
						  method: 'post',           
						  url: '/updateUser',  
						  data: {		
							  msg: row
						  },
						}).then(resrm=>{ 
							var msg=resrm.data;
							if(msg.indexOf('成功')!=-1){
								this.message(msg,"success");
							}
							else{
								this.message(msg,"error");
							}
						} ,error=>{		
							this.message( "操作异常 !","error")
						}); 
				}
				 row.flag=false
			}
			else{
				 row.flag=true
			}
			if((temp==true || temp == false)){
				this.handleCurrentChange(this.currentPage)
			}
			 
			 
	      },
	      handleDelete(index, row) {
	    	  this.model("此操作不可逆, 是否继续?",row)
	      },
	      message(msg,type) {   //消息框
	          this.$message({
	            message: msg,
	            type: type
	          });
	        },
	  
	 	 query() {	                 //查询按钮
	    	    	  axios({
	    				  method: 'post',           
	    				  url: '/getPrePeriod',  								 
	    				  data: {		
	    							msg:this.formInline
	    				  },
	    				}).then(res=>{ 
	    					this.allTableData = res.data.list	;
	    					this.setPaginations();
	    					this.allTableData.forEach(item => {
													
								if (item.fkey > this.currentPeriod) {
									this.currentPeriod=item.fkey;
								}
								this.selectResults.push(item.fkey);
							});
	    					this.allTableData.forEach(item => {
								if (item.fkey == (this.currentPeriod-1)) {
									this.currentObj=item;
								}
							})
	    					
	    					
	    				} ,error=>{				
	    				}); 
	    	    	  this.showResult = true;
	      } ,
	  
	 	 addUser(){
		    if(this.formInline.account!='' && this.formInline.roleName!=''  && this.formInline.branch!='' ){	 
    	    	  axios({
    				  method: 'put',           
    				  url: '/addUser',  
    				  data: {		
    							msg:this.formInline
    				  },
    				}).then(res=>{ 			    					
    					var msg=resrm.data;if(msg.indexOf('成功')!=-1){this.message(msg,"success");}else{this.message(msg,"error");}
    					this.query();
    					
    				} ,error=>{
    					this.message( "操作异常 !","error")
    				}); 
    	    }
    	    else{
    	    	this.message("亲，添加用户时，三要素必须同时填写！","error")
    	    }  
	 	 },
	 	model(msg,row) {
	         this.$confirm(msg, '提示', {
	           confirmButtonText: '确定',
	           cancelButtonText: '取消',
	           type: 'warning'
	         }).then((value ) => {
	        	 axios({
					  method: 'delete',           
					  url: '/deleteUser',  
					  data: {		
						  msg: row.id
					  },
					}).then(resrm=>{ 			 
						var msg=resrm.data;if(msg.indexOf('成功')!=-1){this.message(msg,"success");}else{this.message(msg,"error");}			
						this.allTableData= this.allTableData.filter(item => item !== row)
						this.handleCurrentChange(this.currentPage)
					} ,error=>{	
						this.message( "操作异常 !","error")
					}); 
	         }).catch(() => {
	           this.$message({
	             type: 'info',
	             message: '操作取消'
	           });   
	           return false;
	         });
	       },
	       nextTime(){
				var curdate=new Date();
				var min =curdate.getMinutes();
				var hour =curdate.getHours();
			 
				if(hour<12 && hour >=9){
					
					curdate.setHours(12);
					curdate.setMinutes(0);
				}
				if(hour<15 && hour >=12){
					
					curdate.setHours(15);
					curdate.setMinutes(0);
				}
				if(hour<18 && hour >=15){
					
					curdate.setHours(18);
					curdate.setMinutes(0);
				}
				if(hour<21 && hour >=18){
					
					curdate.setHours(21);
					curdate.setMinutes(0);
				}
				if(hour<9 || hour>=21){
					curdate.setHours(9);
					curdate.setMinutes(0);
				}
				var nextTime =stdData(curdate).substring(0,16) ;
				this.time=nextTime;
			},
			queryJF(){
				axios({
					method: 'post',
					url: '/getUserJF',
					data: {
						msg:localStorage.username
					},
				}).then(res => {
					    this.jifen= res.data;
						//log(this.jifen);
				}, error => {
					
				})
			},
			shengya(){
				axios({
					method: 'post',
					url: '/shengya',
					data: {
					    msg:localStorage.username
					}
				}).then(res => {
					
					this.shengyaval=res.data.list;
				}, error => {
				});
			},
			shengyaTosys1(){
				axios({
					method: 'post',
					url: '/shengyaToSys',
					data: {
					    msg:localStorage.username,
					    msg1:'DLT'
					}
				}).then(res => {
					this.shengyaTosys=res.data.list;
					log(this.shengyaTosys)
				}, error => {
				});
			},
			buy() {
				this.showResult = false;
			},
			ok(){
				var length = this.hasAll.length;
				var cost = length*200;
				if(this.jifen<cost){
					this.message("老铁，你只有"+this.jifen+"积分,赶紧充值！",'error')
					return ;
				}
				this.jifen-=cost;
				axios({
					method: 'post',
					url: '/touzhu',
					data: {
						msg: this.hasAll,
					    msg1:this.currentPeriod,
					    msg2:localStorage.username
					}
				}).then(res => {
					this.hasAll=[];
					//清理积分
					this.costJF(res.data,cost);
				}, error => {
				});
			},
			clean(){
				this.hasAll=[];
			},
			del(item){
				this.hasAll.splice(this.hasAll.indexOf(item),1);
			},
			ranone(){
				this.pre=[];
				this.post=[];
				while(this.pre.length<5){
					 var temp=random(35);
					 if(this.pre.indexOf(temp)==-1){
						 this.pre.push(temp)
					 }
				 }
				while(this.post.length<2){
					 var temp=random(12);
					 if(this.post.indexOf(temp)==-1){
						 this.post.push(temp);
					 }
				 }
				mpsort(this.pre);
				mpsort(this.post);
				this.addAll();
			},
			ranfive(){
				this.hasAll=[];
				for(var i=0;i<5;i++){
					this.ranone();
				}
			},
			addAll(){
				var temp=[] ;
				this.pre.forEach(item => {
					temp.push(item);
				})
				this.post.forEach(item => {
					temp.push(item);
				})
				if(this.hasAll.length<5){
					this.hasAll.push(temp);
				}
				else{
					this.message('老铁，最多投五注不同的！！','warning')
					return false;
				}
				this.pre=[];
				this.post=[];
				this.flag=false;
			},
			aaa(n,index){
				
				if(this.pre.length<5)
					this.pre.push(n)
				else{
					this.message('前区只能选5个！','warning')
					return;
				}
				this.activeClass=index;
				if(this.pre.length==5&&this.post.length==2){
					this.flag=true;
				}
				mpsort(this.pre);
				 
			},
			bbb(n,index){
			
				if(this.post.length<2)
				this.post.push(n)
				else{
					this.message('后区只能选2个！','warning')
					return;
				}
				if(this.pre.length==5&&this.post.length==2){
					this.flag=true;
				}
				this.activeClass1=index;
				mpsort(this.post);
			},
			dec5(index,item){
				this.pre.splice(this.pre.indexOf(item),1);
				this.flag=false;
			},
			dec2(index,item){
				this.post.splice(this.post.indexOf(item),1);
				this.flag=false;
			},
			costJF(msg,cost){
				axios({
					method: 'post',
					url: '/costUserJF',
					data: {
						msg:localStorage.username,
						msg1:cost
					},
				}).then(res => {
					    this.jifen= res.data;//剩余积分
					    
					    if(msg.indexOf('成功')!=-1){this.message(msg+"消耗积分："+cost,"success");}else{this.message(msg,"error");}
					    
				}, error => {
					
				})
			},handleClose(done) {
		        this.$confirm('确认关闭？')
		          .then(_ => {
		            done();
		          })
		          .catch(_ => {});
		      }
			 
 	 }
})

</script>
</html>