<!DOCTYPE html>
<html>
<head>
<title>系统健康</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/js/vue.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script src="/js/component/elementUI/index.js"></script>
<link rel="stylesheet" type="text/css"  href="/js/component/elementUI/theme-chalk/index.css" />
<link rel="icon" href='/images/icon1.png' />
<!-- 系统CSS或JS -->
<link rel="stylesheet" href="/css/systab.css">

<style>
</style>
<body onkeydown="keyEnter();">
	<div id="app">

		<el-row> 
			<el-col :span="24">
				<h2>系统健康</h2>
			</el-col> 
		</el-row>

		<div class='bh2'></div>
		<div class='bg-content'>
					<el-row> 
						<el-col :span="24"> 
								<el-form :inline="true"  :model="formInline"  class="demo-form-inline"   size="mini"   label-width="100px"> 
										<el-form-item label="EAI Code：">
												<el-input v-model="formInline.appId" ></el-input> 
										</el-form-item> 
										
										<el-form-item  label="系统名称：">
											 <el-input v-model="formInline.appName" ></el-input>  
										 </el-form-item> 
		  
										  <p/>
										 <el-form-item size="medium"> 
										 		<el-button type="primary"@click="query" id="enter">健康查询</el-button> 
										 </el-form-item> 
										  
							</el-form> 
					</el-col>
				</el-row>
		</div>
		
		<div class='bh5'></div>

		<div class='bg-content'>
			<div>系统健康状态结果表：</div>
			<div class='bh2'></div>
			<div>
			<template>
				  <el-table :data="tableData"  stripe  style="width: 100%"  border size="mini"  highlight-current-row :header-cell-style="{fontSize:'14px',color:'black'}">
				      <el-table-column type="selection" width="55"></el-table-column>
				    	 <el-table-column sortable prop="createTime" min-width="150px" label="监控时间"></el-table-column>
				    	<el-table-column   sortable prop="appId" label="EAI Code" min-width="100"> </el-table-column>           				 
           				<el-table-column sortable prop="appName" min-width="250px" label="应用名称"  min-width="350px;" ></el-table-column>
				    	<el-table-column sortable prop="appOwner"   width="120px" label="应用Owner"></el-table-column>
				    	<el-table-column :show-overflow-tooltip='true'  sortable prop="appDescrib"  width="300px;"  label="应用描述"></el-table-column>			    				
				    	<el-table-column  :show-overflow-tooltip='true' sortable prop="result"   label="监控情况" min-width="350px;" ></el-table-column>
				    	  <el-table-column label="健康状态" min-width="120px;"  align="center" sortable prop="status" >
				    	  		<template slot-scope="scope">
      							 		<el-button size="mini"  :type="scope.row.status=='true' ? 'success' : 'danger'" ></el-button>
      							  </template>
    					</el-table-column>
    					
  				 </el-table>
			</template>
  
	  
			  <div class="page">
					<el-pagination  @size-change="handleSizeChange"  @current-change="handleCurrentChange"
					 		  :current-page="paginations.page_index"
							  :page-sizes="paginations.page_sizes"
							  :page-size="paginations.page_size"
							  :layout="paginations.layout"
							  :total="paginations.total">
					</el-pagination>
			</div>
		</div>

	</div>
	 
 </div>
</body>
<script>
var vm=new Vue({
  el: '#app',
  data : {
	  formInline: { id: null, appId: '', appName: '' },
	  info: [],
      tableData:[], //数据
	  paginations:{
			page_index:1, //当前页
			total:0, //总数
			page_size:5, //一页显示多少
			page_sizes:[5,10,15,20], //每页显示多少条
			layout:'prev, pager, next, jumper, sizes,total '
		},
      allTableData:[]  ,
      currentPage:1
  },
   mounted () {
 
		  axios({
			  method: 'post',           
			  url: '/fenyeQueryHealth',  								//全量查询表格显示数据[后台有限制]
			  data: {		
						msg:this.formInline
			  },
			}).then(res=>{ 
				this.allTableData = res.data.list	;
				this.setPaginations();
			} ,error=>{				
			}); 
    
  }, 

  methods:{
	  setPaginations(){
				this.paginations.total = this.allTableData.length; //数据的数量
				this.paginations.page_index = 1; //默认显示第一页
				this.paginations.page_size = 5; //每页显示多少数据
				//显示数据
				this.tableData = this.allTableData.filter((item,index) => {
				return index < this.paginations.page_size;
			})
		},
		handleSizeChange(page_size) {
				this.paginations.page_index = 1; //第一页
				this.paginations.page_size = page_size; //每页先显示多少数据
				this.tableData = this.allTableData.filter((item,index) => {
				return index < page_size
			})
		},
		handleCurrentChange(page){
			// 跳转页数
			//获取当前页
			this.currentPage=page;
			let index = this.paginations.page_size * (page -1);
			//获取总数
			let allData = this.paginations.page_size * page;
			let tablist=[];
			for(let i = index;i<allData;i++) {
				if (this.allTableData[i]) {
					tablist.push(this.allTableData[i])
				}
				this.tableData = tablist
			}
		},
	  	  handleEdit(index, row,type) {
			var temp=row.flag;
			if(row.flag){
				//说明当前是激活状态，用户可编辑中,此时做保存或取消操作。
				if(type=='op'){  //保存操作
					  
					 axios({
							method: 'post',
							url: '/updateConfig',
							data: {
								msg: row
							},
						}).then(res => {
							this.message( res.data,"success")
							 
						}, error => {
							this.message( "操作异常 !","error")
						});
				
				
				}
				 row.flag=false
			}
			else{
				 row.flag=true
			}
			if((temp==true || temp == false)){
				this.handleCurrentChange(this.currentPage)
			}
		
			
	      },
	      handleDelete(index, row) {
	    	  this.model("此操作不可逆, 是否继续?",row)
	      },
	      message(msg,type) {   //消息框
	          this.$message({
	            message: msg,
	            type: type
	          });
	        },
	  
	 	 query() {	                 //查询按钮
	    	    	  axios({
	    				  method: 'post',           
	    				  url: '/fenyeQueryHealth',  								 
	    				  data: {		
	    							msg:this.formInline
	    				  },
	    				}).then(res=>{ 
	    					this.allTableData = res.data.list	;
	    					console.log(this.allTableData)
	    					this.setPaginations();
	    				} ,error=>{				
	    				}); 
	      } ,
	  
	      addConfig() {
	  	    if ((this.formInline.appId != '' && this.formInline.appId != null) && (this.formInline.appName != '' && this.formInline.appName != null) && (this.formInline.appDescrib != '' && this.formInline.appDescrib != null)&& (this.formInline.appUrl1 != '' && this.formInline.appUrl1 != null)&& (this.formInline.appUrl2 != '' && this.formInline.appUrl2 != null)&& (this.formInline.appUrl3 != '' && this.formInline.appUrl3 != null)
			        && (this.formInline.appOwner != '' && this.formInline.appOwner != null) && (this.formInline.ownerEmail != '' && this.formInline.ownerEmail != null) && (this.formInline.appMaintenance != '' && this.formInline.appMaintenance != null) && (this.formInline.maintenanceEmail != '' && this.formInline.maintenanceEmail != null)) {
			      axios({
							method: 'put',
							url: '/addConfig',
							data: {
								msg: this.formInline
							},
						}).then(res => {
							this.message( res.data,"success")
							this.query();
						}, error => {
							this.message( "操作异常 !","error")
						});
				}
				 else{
					 this.message("亲，添加配置时，十要素必须同时填写！","error")
		    	    }  
			},
 
	 	model(msg,row) {
	         this.$confirm(msg, '提示', {
	           confirmButtonText: '确定',
	           cancelButtonText: '取消',
	           type: 'warning'
	         }).then((value ) => {
	        	 axios({
					  method: 'delete',           
					  url: '/deleteConfig',  
					  data: {		
						  msg: row.id
					  },
					}).then(resrm=>{ 			 
						var msg=resrm.data;if(msg.indexOf('成功')!=-1){this.message(msg,"success");}else{this.message(msg,"error");}	
						this.allTableData= this.allTableData.filter(item => item !== row)
						this.handleCurrentChange(this.currentPage)
					} ,error=>{	
						this.message( "操作异常 !","error")
					}); 
	         }).catch(() => {
	           this.$message({
	             type: 'info',
	             message: '操作取消'
	           });   
	           return false;
	         });
	       }
 	 }
})

</script>
</html>