<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kams.dao.SmGonggaoMapper">
  <resultMap id="BaseResultMap" type="com.kams.bean.SmGonggao">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="discrib" jdbcType="VARCHAR" property="discrib" />
    <result column="timestamp" jdbcType="CHAR" property="timestamp" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="contentType" jdbcType="VARCHAR" property="contenttype" />
    <result column="href" jdbcType="VARCHAR" property="href" />
    <result column="views" jdbcType="VARCHAR" property="views" />
    <result column="favo" jdbcType="VARCHAR" property="favo" />
    <result column="commNum" jdbcType="VARCHAR" property="commnum" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="is_Hot" jdbcType="CHAR" property="isHot" />
    <result column="bg" jdbcType="VARCHAR" property="bg" />
    <result column="update_time" jdbcType="CHAR" property="updateTime" />
    <result column="chk" jdbcType="CHAR" property="chk" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.kams.bean.SmGonggao">
    <result column="artical" jdbcType="LONGVARCHAR" property="artical" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, discrib, timestamp, type, contentType, href, views, favo, commNum, author, 
    is_Hot, bg, update_time, chk
  </sql>
  <sql id="Blob_Column_List">
    artical
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.kams.bean.SmGonggaoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sm_gonggao
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.kams.bean.SmGonggaoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sm_gonggao
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.kams.bean.SmGonggaoExample">
    delete from sm_gonggao
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sm_gonggao
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kams.bean.SmGonggao">
    insert into sm_gonggao (id, title, discrib, 
      timestamp, type, contentType, 
      href, views, favo, 
      commNum, author, is_Hot, 
      bg, update_time, chk, artical
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{discrib,jdbcType=VARCHAR}, 
      #{timestamp,jdbcType=CHAR}, #{type,jdbcType=VARCHAR}, #{contenttype,jdbcType=VARCHAR}, 
      #{href,jdbcType=VARCHAR}, #{views,jdbcType=VARCHAR}, #{favo,jdbcType=VARCHAR}, 
      #{commnum,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{isHot,jdbcType=CHAR}, 
      #{bg,jdbcType=VARCHAR}, #{updateTime,jdbcType=CHAR}, #{chk,jdbcType=CHAR}, #{artical,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kams.bean.SmGonggao">
    insert into sm_gonggao
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="discrib != null">
        discrib,
      </if>
      <if test="timestamp != null">
        timestamp,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="contenttype != null">
        contentType,
      </if>
      <if test="href != null">
        href,
      </if>
      <if test="views != null">
        views,
      </if>
      <if test="favo != null">
        favo,
      </if>
      <if test="commnum != null">
        commNum,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="isHot != null">
        is_Hot,
      </if>
      <if test="bg != null">
        bg,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="chk != null">
        chk,
      </if>
      <if test="artical != null">
        artical,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="discrib != null">
        #{discrib,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="contenttype != null">
        #{contenttype,jdbcType=VARCHAR},
      </if>
      <if test="href != null">
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="views != null">
        #{views,jdbcType=VARCHAR},
      </if>
      <if test="favo != null">
        #{favo,jdbcType=VARCHAR},
      </if>
      <if test="commnum != null">
        #{commnum,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="isHot != null">
        #{isHot,jdbcType=CHAR},
      </if>
      <if test="bg != null">
        #{bg,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=CHAR},
      </if>
      <if test="chk != null">
        #{chk,jdbcType=CHAR},
      </if>
      <if test="artical != null">
        #{artical,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kams.bean.SmGonggaoExample" resultType="java.lang.Long">
    select count(*) from sm_gonggao
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sm_gonggao
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.discrib != null">
        discrib = #{record.discrib,jdbcType=VARCHAR},
      </if>
      <if test="record.timestamp != null">
        timestamp = #{record.timestamp,jdbcType=CHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.contenttype != null">
        contentType = #{record.contenttype,jdbcType=VARCHAR},
      </if>
      <if test="record.href != null">
        href = #{record.href,jdbcType=VARCHAR},
      </if>
      <if test="record.views != null">
        views = #{record.views,jdbcType=VARCHAR},
      </if>
      <if test="record.favo != null">
        favo = #{record.favo,jdbcType=VARCHAR},
      </if>
      <if test="record.commnum != null">
        commNum = #{record.commnum,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null">
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.isHot != null">
        is_Hot = #{record.isHot,jdbcType=CHAR},
      </if>
      <if test="record.bg != null">
        bg = #{record.bg,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=CHAR},
      </if>
      <if test="record.chk != null">
        chk = #{record.chk,jdbcType=CHAR},
      </if>
      <if test="record.artical != null">
        artical = #{record.artical,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update sm_gonggao
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      discrib = #{record.discrib,jdbcType=VARCHAR},
      timestamp = #{record.timestamp,jdbcType=CHAR},
      type = #{record.type,jdbcType=VARCHAR},
      contentType = #{record.contenttype,jdbcType=VARCHAR},
      href = #{record.href,jdbcType=VARCHAR},
      views = #{record.views,jdbcType=VARCHAR},
      favo = #{record.favo,jdbcType=VARCHAR},
      commNum = #{record.commnum,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      is_Hot = #{record.isHot,jdbcType=CHAR},
      bg = #{record.bg,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=CHAR},
      chk = #{record.chk,jdbcType=CHAR},
      artical = #{record.artical,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sm_gonggao
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      discrib = #{record.discrib,jdbcType=VARCHAR},
      timestamp = #{record.timestamp,jdbcType=CHAR},
      type = #{record.type,jdbcType=VARCHAR},
      contentType = #{record.contenttype,jdbcType=VARCHAR},
      href = #{record.href,jdbcType=VARCHAR},
      views = #{record.views,jdbcType=VARCHAR},
      favo = #{record.favo,jdbcType=VARCHAR},
      commNum = #{record.commnum,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      is_Hot = #{record.isHot,jdbcType=CHAR},
      bg = #{record.bg,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=CHAR},
      chk = #{record.chk,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
   <select id="fenyeQueryGongGao" resultMap="BaseResultMap"  parameterType="com.kams.bean.SmGonggao" >
  			select * from sm_gonggao 
  			<where>
				<if test="type != null  and type !='' ">
					and type = #{type}
				</if>
				<if test="author != null  and author !='' ">
					and author = #{author}
				</if>
				<if test="contenttype != null  and contenttype !='' ">
					and contentType = #{contenttype}
				</if>
				<if test="commnum != null  and commnum !='' ">
					and commNum = #{commnum}
				</if>
				<if test="title != null  and title !='' ">
					and title = #{title}
				</if>
				<if test="updateTime != null  and updateTime !='' ">
					and update_time = #{updateTime}
				</if>
			</where>
  			ORDER BY timestamp desc
  </select>
  
  <insert id="addGongGao"  parameterType="com.kams.bean.SmGonggao" >
  			insert into sm_gonggao values(#{title},#{discrib},(select CONVERT(varchar(100), GETDATE(), 120)),#{type},#{contentType},(CONCAT('link',(select replace(replace(replace(CONVERT(varchar, getdate(), 120 ),'-',''),' ',''),':','')))),#{artical},'0','0','0',#{author},'0',#{bg},(select CONVERT(varchar(100), GETDATE(), 120)),'0');
  </insert>
  
  <select id="getHotAatical" resultMap="BaseResultMap" >
  			select top 6 * from sm_gonggao where is_Hot='1'
  </select>
  
  <select id="searchFunc"  parameterType="string" resultMap="BaseResultMap"  >
  			select  * from sm_gonggao where type='artical' and(title like concat(concat('%',#{key}),'%')   or discrib like concat(concat('%',#{key}),'%')  
  			 or contentType  like concat(concat('%',#{key}),'%')  or  artical like concat(concat('%',#{key}),'%')) ; 
  </select>
  
  <select id="searchArtByType"  parameterType="string" resultMap="BaseResultMap"  >
  			select  *  from sm_gonggao where type='artical' and contentType =#{key}  
  </select>
  
  <update id="jiajing" parameterType="int">
  			update sm_gonggao set is_Hot='1' where id=#{id}
  </update>
  
  <update id="updateA" parameterType="com.kams.bean.SmGonggao" >
  			update sm_gonggao set artical=#{artical} where id=#{id}
  </update>
</mapper>