<!DOCTYPE html>
<html>
<head>
<title>用户管理</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/js/vue.js"></script>
<script src="/js/axios.js"></script>
<script src="/js/component/elementUI/index.js"></script>
<link rel="stylesheet" type="text/css"  href="/js/component/elementUI/theme-chalk/index.css" />
<link rel="icon" href='/images/icon1.png' />
<!-- 系统CSS或JS -->
<link rel="stylesheet" href="/css/systab.css">

<style>
</style>
<body onkeydown="keyEnter();">
	<div id="app">

		<el-row> 
			<el-col :span="24">
				<h2>用户管理</h2>
			</el-col> 
		</el-row>

		<div class='bh2'></div>
		<div class='bg-content'>
					<el-row> 
						<el-col :span="24"> 
								<el-form :inline="true"  :model="formInline"  class="demo-form-inline"   size="mini"> 
										<el-form-item label="用户账号：">
												<el-input v-model="formInline.account" placeholder="用户账号"></el-input> 
										</el-form-item> 
										
										<el-form-item  label="用户角色：">
											 <el-select v-model="formInline.roleName"  placeholder="用户角色">
													  <el-option :label="item.roleName"  :value="item.roleName"v-for="(item,index) in role"></el-option> 
													 
											 </el-select> 
										 </el-form-item> 
										 
										 <el-form-item  label="分公司：">
											 <el-select v-model="formInline.branch"  placeholder="分公司">
													 <el-option :label="item.orgname"  :value="item.orgname" v-for="(item,index) in info"></el-option> 
											 </el-select> 
										 </el-form-item> 
										 <p/>
										 
										 <el-form-item size="medium"> 
										 		<el-button type="primary"@click="query" id="enter">查询用户</el-button> 
										 </el-form-item> 
										 
										  <el-form-item size="medium"> 
										 		<el-button type="primary"@click="addUser()">添加用户</el-button> 
										 </el-form-item> 
							</el-form> 
					</el-col>
				</el-row>
		</div>
		
		<div class='bh5'></div>

		<div class='bg-content'>
			<div>用户表结果：</div>
			<div class='bh2'></div>
			<div>
			<template>
				  <el-table :data="tableData"  stripe  style="width: 100%" :default-sort = "{prop: 'account', order: 'descending'}" border size="mini"  highlight-current-row :header-cell-style="{fontSize:'14px',color:'black'}">
				      <el-table-column type="selection" width="55"></el-table-column>
				    	 <el-table-column sortable prop="id" min-width="100px" label="用户编号"></el-table-column>
				    	<el-table-column   sortable prop="account" label="用户账号" width="180">
                				<template scope="scope" >
                						<span v-if="scope.row.flag">
                    						<el-input size="small" v-model="scope.row.account" placeholder="请输入内容" ></el-input>
                    					</span> 
                    					<span v-else>{{scope.row.account}}</span>
                				</template>
           				 </el-table-column>
           				 
           				<el-table-column sortable prop="username" min-width="100px" label="用户名"></el-table-column>
				    	<el-table-column sortable prop="branch"   min-width="100px" label="分公司"></el-table-column>
				    	<el-table-column sortable prop="mail"  width="210px;"  label="邮箱"></el-table-column>
				    				
				    	<el-table-column  sortable prop="roleName"   label="用户角色" min-width="150px;" >
				    			
                				<template  slot-scope="scope">
                				<span v-if="scope.row.flag">
               
                    					 <el-select v-model="scope.row.roleName"  placeholder="用户角色" size="mini">
													  <el-option :label="item.roleName"  :value="item.roleName"v-for="(item,index) in role"></el-option>  
										</el-select> 
                    					</span> 
                    					<span v-else>{{scope.row.roleName}}</span>
                				</template>
           				 </el-table-column>
				    	<el-table-column sortable  min-width="150px;" prop="createTime"  label="创建时间"></el-table-column>
				    	
				    	  <el-table-column label="操作" width="150px;">
      							<template slot-scope="scope">
							        <el-button size="mini"  @click="handleEdit (scope.$index, scope.row, 'op')"> {{scope.row.flag?'保存':"修改"}}</el-button>  
							        <el-button size="mini" type="warning" v-show="scope.row.flag" @click="handleEdit(scope.$index, scope.row, 'cancle' )">取消</el-button>
							        <el-button size="mini" type="danger" v-show="!scope.row.flag"  @click="handleDelete (scope.$index, scope.row)">删除</el-button>
      							</template>
    					</el-table-column>
    					
  				 </el-table>
			</template>
  
	  
			  <div class="page">
					<el-pagination  @size-change="handleSizeChange"  @current-change="handleCurrentChange"
					 		  :current-page="paginations.page_index"
							  :page-sizes="paginations.page_sizes"
							  :page-size="paginations.page_size"
							  :layout="paginations.layout"
							  :total="paginations.total">
					</el-pagination>
			</div>
		</div>

	</div>
	 
 </div>
</body>
<script>
var vm=new Vue({
  el: '#app',
  data : {
	  formInline: {account:'',roleName:'',branch:'' },
      info: [],
      role:[],
      orgname:null,
      tableData:[], //数据
	  paginations:{
			page_index:1, //当前页
			total:0, //总数
			page_size:5, //一页显示多少
			page_sizes:[5,10,15,20], //每页显示多少条
			layout:'prev, pager, next, jumper, sizes,total '
		},
      allTableData:[],
      currentPage:1
  },
   mounted () {
	    axios.get('/user.html').then(res1 =>{   //分公司列表初始化
	    	this.info=res1.data
	    	})
	      .catch(function (error) { // 请求失败处理
	        console.log(error);
	      });
    
	   	 axios.get('/user_role.html').then(res1 =>{  //系统角色初始化
	    	this.role=res1.data
	    	})
	      .catch(function (error) { // 请求失败处理
	        console.log(error);
	      });
    
		  axios({
			  method: 'post',           
			  url: '/queryUser',  								//全量查询表格显示数据[后台有限制]
			  data: {		
						msg:this.formInline
			  },
			}).then(res=>{ 
				this.allTableData = res.data.list	;
				this.setPaginations();
			} ,error=>{				
			}); 
    
  }, 

  methods:{
	  setPaginations(){
				this.paginations.total = this.allTableData.length; //数据的数量
				this.paginations.page_index = 1; //默认显示第一页
				this.paginations.page_size = 5; //每页显示多少数据
				//显示数据
				this.tableData = this.allTableData.filter((item,index) => {
				return index < this.paginations.page_size;
			})
		},
		handleSizeChange(page_size) {
				this.paginations.page_index = 1; //第一页
				this.paginations.page_size = page_size; //每页先显示多少数据
				this.tableData = this.allTableData.filter((item,index) => {
				return index < page_size
			})
		},
		handleCurrentChange(page){
			// 跳转页数
			//获取当前页
			this.currentPage=page;
			let index = this.paginations.page_size * (page -1);
			//获取总数
			let allData = this.paginations.page_size * page;
			let tablist=[];
			for(let i = index;i<allData;i++) {
				if (this.allTableData[i]) {
					tablist.push(this.allTableData[i])
				}
				this.tableData = tablist
			}
		},
	  	  handleEdit(index, row,type) {
			var temp=row.flag;
			if(row.flag){
				//说明当前是激活状态，用户可编辑中,此时做保存或取消操作。
				if(type=='op'){  //保存操作
					 axios({
						  method: 'post',           
						  url: '/updateUser',  
						  data: {		
							  msg: row
						  },
						}).then(resrm=>{ 
							var msg=resrm.data;
							if(msg.indexOf('成功')!=-1){
								this.message(msg,"success");
							}
							else{
								this.message(msg,"error");
							}
						} ,error=>{		
							this.message( "操作异常 !","error")
						}); 
				}
				 row.flag=false
			}
			else{
				 row.flag=true
			}
			if((temp==true || temp == false)){
				this.handleCurrentChange(this.currentPage)
			}
			 
			 
	      },
	      handleDelete(index, row) {
	    	  this.model("此操作不可逆, 是否继续?",row)
	      },
	      message(msg,type) {   //消息框
	          this.$message({
	            message: msg,
	            type: type
	          });
	        },
	  
	 	 query() {	                 //查询按钮
	    	    	  axios({
	    				  method: 'post',           
	    				  url: '/queryUser',  								 
	    				  data: {		
	    							msg:this.formInline
	    				  },
	    				}).then(res=>{ 
	    					this.allTableData = res.data.list	;
	    					this.setPaginations();
	    				} ,error=>{				
	    				}); 
	      } ,
	  
	 	 addUser(){
		    if(this.formInline.account!='' && this.formInline.roleName!=''  && this.formInline.branch!='' ){	 
    	    	  axios({
    				  method: 'put',           
    				  url: '/addUser',  
    				  data: {		
    							msg:this.formInline
    				  },
    				}).then(res=>{ 			    					
    					var msg=resrm.data;if(msg.indexOf('成功')!=-1){this.message(msg,"success");}else{this.message(msg,"error");}
    					this.query();
    					
    				} ,error=>{
    					this.message( "操作异常 !","error")
    				}); 
    	    }
    	    else{
    	    	this.message("亲，添加用户时，三要素必须同时填写！","error")
    	    }  
	 	 },
	 	model(msg,row) {
	         this.$confirm(msg, '提示', {
	           confirmButtonText: '确定',
	           cancelButtonText: '取消',
	           type: 'warning'
	         }).then((value ) => {
	        	 axios({
					  method: 'delete',           
					  url: '/deleteUser',  
					  data: {		
						  msg: row.id
					  },
					}).then(resrm=>{ 			 
						var msg=resrm.data;if(msg.indexOf('成功')!=-1){this.message(msg,"success");}else{this.message(msg,"error");}			
						this.allTableData= this.allTableData.filter(item => item !== row)
						this.handleCurrentChange(this.currentPage)
					} ,error=>{	
						this.message( "操作异常 !","error")
					}); 
	         }).catch(() => {
	           this.$message({
	             type: 'info',
	             message: '操作取消'
	           });   
	           return false;
	         });
	       }
 	 }
})

</script>
</html>